[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = git pull, commit, push test
[access "refs/*"]
	owner = group user/kwangeom
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/kwangeom
	label-Verified = -1..+1 group user/kwangeom
	push = group user/kwangeom
	read = group user/kwangeom
	rebase = group user/kwangeom
	removeReviewer = group user/kwangeom
	submit = group user/kwangeom
[access "refs/heads/*"]
	create = group user/kwangeom
	push = +force group user/kwangeom
	pushMerge = group user/kwangeom
	read = group user/kwangeom
[access "refs/tags/*"]
	push = group user/kwangeom
	push = +force group user/kwangeom
